{% extends "base/base.html" %}

{% load static %}

{% block style %}
    <link rel = 'stylesheet' href="{% static "css/main_style.css" %}" />
    <link rel = 'stylesheet' href="{% static "css/sidebar.css" %}" />
    <link rel = 'stylesheet' href="{% static "css/inside_content.css" %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
{% endblock %}

{% block title %}
    Welcome, {{ request.user.username|capfirst }}!
{% endblock %}

{% block content %}

    {% block userbar %}
        <header class = "user_bar">
                <span class = "welcome_link">Welcome, {{ request.user.username  }}
                </span>

              <span class = "logout_link"><a href="{% url "login.views.disconnect" %}">Log Out !</a>
              </span>
        </header>
        <div class = 'project_selector'>
            <form action = '#' method="post">
                <span class = "project_change_label"> Jump to project </span>
                <select name = 'project'>
                    <option value=" something"> Something </option>
                    </select>
                <input type="submit" value="Load Project"/>
            </form>
        </div>
    {% endblock %}
    {% block sidebar %}
        {% include "base/sidebar.html" %}
    {%  endblock %}

    <section id = "user_content">
        {% block user_content %}

        {% endblock %}
    </section>
    <script>

        $(document).ready(function(){
            $(".notify").fadeIn("slow");
            $(".notify").fadeOut(3000);

            $('.option').click( function() {
                window.location = $(this).find('a').attr('href');
            }).hover( function() {
                        $(this).toggleClass('jquery_link_hover');
                    });
        });

    </script>
    <section id='footer'>
        Copyright DHAB Solutions, 2013
    </section>
{% endblock %}