{%  load static %}
<nav id="sidebar">
	    <ul>

            <li><a class='sidebar_item'href="{% url "sections.newsfeed.views.newsfeed" %}">
                <img class='sidebar_item_img' src="{% static "images/sidebar/rss_icon.png" %}" />
            </a></li>

            <li><a class='sidebar_item'href="{% url "sections.forum.views.forum" %}">
                <img class='sidebar_item_img' src="{% static "images/sidebar/forum.png" %}" />
            </a></li>

            <li><a class='sidebar_item'href="{% url "sections.projects.views.projects" %}">
                <img class='sidebar_item_img' src="{% static "images/sidebar/version.png" %}" />
            </a></li>

            <li><a class='sidebar_item'href="{% url "sections.messaging.views.messaging" %}">
                <img class='sidebar_item_img' src="{% static "images/sidebar/messages.png" %}" />

            </a>
                {% if request.session.messages > 0 %}
                <span class = "new_messages_count">{{ request.session.messages }}
                </span>
                {% endif %}
            </li>

            <li><a class='sidebar_item'href="{% url "sections.settings.views.settings" %}">
                <img class='sidebar_item_img' src="{% static "images/sidebar/settings_icon.png" %}" />
            </a></li>
        </ul>
</nav>