{% load static %}

<nav id="sidebar">
    <ul>

        <li><a class='sidebar_item' href="{% url 'project.views.projects' %}">
            <img class='sidebar_item_img' src="{% static "images/sidebar/projects.png" %}"/>
        </a></li>

        <li><a class='sidebar_item' href="{% url 'project.views.requirements' %}">
            <img class='sidebar_item_img' src="{% static "images/sidebar/requirements.png" %}"/>
        </a></li>

        <li><a class='sidebar_item' href="{% url "reports.views.reports" %}">
            <img class='sidebar_item_img' src="{% static "images/sidebar/stats.png" %}"/>
        </a></li>

        <li><a class='sidebar_item' href="{% url "manager.views.manage" %}">
            <img class='sidebar_item_img' src="{% static "images/sidebar/settings.png" %}"/>
        </a></li>
        {% comment %}
            <li><a class='sidebar_item'href="{% url "sections.messaging.views.messaging" %}">
                <img class='sidebar_item_img' src="{% static "images/sidebar/messages.png" %}" />

            </a>
                {% if request.session.messages > 0 %}
                <span class = "new_messages_count">{{ request.session.messages }}
                </span>
                {% endif %}
            </li>

            <li><a class='sidebar_item'href="{% url "sections.settings.views.settings" %}">
                <img class='sidebar_item_img' src="{% static "images/sidebar/settings_icon.png" %}" />
            </a></li>
            {% endcomment %}
    </ul>

</nav>