.user_bar
{
    font-size: 2em;
     margin-top:-10px;
    padding: 10px;

}
.welcome_link
{
    margin-right: 70%;
}
body{
    background-image: linear-gradient(to bottom, #92CD00, #E5E4D7);
    background-repeat: no-repeat;
    background-size: 200% 200%;
}
.project_change_label
{
    font-weight: bold;
}
.project_selector
{
    text-align: center;
    color:white;
    margin-top:-20px;
    padding-bottom: 10px;
}
.top_wrap
{
     background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #646262),
        color-stop(0.5, #484848),
        color-stop(0.5, #3D3D3D),
        color-stop(1, #4C4C4C)
    );
    color:white;
}
.top_wrap a
{
    color: #F00;
}
.project_selector select
{
    width: 500px;
}
#user_content
{
    background-color:whitesmoke;
    opacity: .9;
    padding: 20px;
    height: 500px;
    overflow-y: auto;
}
td,table,th
{
    border: solid 1px black;
    border-collapse: collapse;
    text-align: center;
}

table{
    width: 1200px;
}
thead
{
    background-color: deepskyblue;
    opacity: .5;
}
textarea
{
    width:100%;
}
.add_requirements_form
{
   padding:20px;
    border: solid 1px black;
    overflow-y: auto;
    height: 300px;
}
.add_requirements_form p + p + p + p
{
    display: inline-block;
    margin-right: 600px;
}
.add_requirements_form p + p + p
{
    display: inline-block;
}

.attribute
{
    float:right;
}
.notify
{
    position: absolute;
    top:50%;
    left:40%;
    color:white;
    background-color: black;
    opacity: .7;
    padding:20px;
    border-radius: 10px;
}
.heading
{
    background-color: rgba(0,0,0,.8);
    color: white;
    padding:10px 20px;
    margin: 5px -20px;
}