{% extends 'base/base_home.html' %}

{% block user_content %}
    <h1 class='heading'> Current Projects </h1>
    <h1><a href="{% url 'project.views.add_project' %}" class="nav_link_alt"> Add a new project </a></h1>





    {% for p in projects %}

        <h3 class="toggle nav_link"> {{ p.name }}  </h3>
        <div class="inner_pane">
            <a href="{% url "project.views.delete_project" p.id %}" class="nav_link delete_link">Delete Project</a>
            <a href="#" value="{{ p.id }}" class="nav_link_alt delete_link">View Details</a><br/><br/>

            <h3> Project Description:</h3>

            <p>
                {{ p.description }}
            </p>
        </div>
    {% empty %}

    {% endfor %}




{% endblock %}