{% extends "base/base_home.html" %}

{% block user_content %}
    <h1 class = 'heading'> Project Requirements </h1>
    {% if request.session.selected_project %}
        <div class = 'accordion'>

        <h3>Requirements List</h3>
            <div class ='accordion'>
                {% for r in requirements %}
                       <h4>{{ r.name }}

                       <span class= 'attribute'>{{ r.requirement_type }}</span>

                       </h4>

                        <div>

                            <h3><a href = "{% url "project.views.edit_requirement" r.id %}"> Edit/Update Requirement </a><br/></h3>
                            <h3><a href="{% url "project.views.delete_requirement" r.id %}"> Delete Requirement </a></h3>
                            <strong>Completion Status:</strong>
                            <div class = 'progressbar' value = "{{ r.ratio }}"></div>
                            <p>{{ r.description }}</p>


                        </div>
                    {% empty %}
                      No requirements listed.
                 {% endfor %}
                 <h3> Add New Requirement </h3>
                <form action  = "{% url "project.views.requirements" %}" method="POST" class = 'add_requirements_form'>

                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type = 'submit' value = "Add Requirement"/>
                </form>
            </div>


        </div>





    {% else %}
                <h1>No project Selected</h1>
    {% endif %}
    {% if notify %}
           <h1 class="notify"> {{ message }} </h1>
    {% endif %}
{% endblock %}