{% extends "base/base_home.html" %}

{% block user_content %}
    <h1> Project Requirements </h1>
    {% if request.session.selected_project %}
        <div class = 'accordion'>
        <h3>Requirements List</h3>
            <div class ='accordion'>
                {% for r in requirements %}
                       <h4>{{ r.name }}

                       <span class= 'attribute'>{{ r.requirement_type }}</span>

                       </h4>

                        <div style = 'height: 500px'>


                            <strong>Completion Status:</strong>
                            <div class = 'progressbar'></div>
                            <p>{{ r.description }}</p>


                        </div>
                 {% endfor %}
            </div>
        <h3> Add New Requirement </h3>
        <form action  = "#" method="POST" class = 'add_requirements_form'>

            {% csrf_token %}
            {{ form.as_p }}
            <input type = 'submit' value = "Add Requirement"/>
        </form>

        </div>





    {% else %}
                <h1>No project Selected</h1>
    {% endif %}
    {% if notify %}
           <h1 class="notify"> {{ message }} </h1>
    {% endif %}
{% endblock %}